pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
scipy==1.13.0

# ML stuff
scikit-learn==1.4.2
xgboost==2.0.3
joblib==1.4.0

# db connection
SQLAlchemy==2.0.29
PyMySQL==1.1.0

# notebooks
jupyter
ipykernel
nbformat
nbclient

openpyxl
